.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-content: center;
  margin: 20px 0;
}

.filter_menu{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}
.filter_menu select, input{
    border: 1px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
}
.filter_menu input{
    flex: 1;
    margin: 0 10px;
}



@media screen and (min-width: 450px) {
  .products {
    padding: 0rem 27rem;
  }
}
/*-----------------------------*/
@import url(../utils//productItem//productitem.css);
